*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.mp4 binary
*.mp3 binary
*.wav binary
*.mov binary
*.svg binary
*.ico binary
*.webp binary
*.webm binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.pdf binary
